<!-- views/partials/footer.ejs -->
<p class="text-center text-muted">template by <a href="https://scotch.io/tutorials/use-ejs-to-template-your-node-application">scotch.io</a> since i was lazy - ticket counter was made by <a href="https://github.com/lolwhenlifegivesyoulemons">whenlifegivesyoulemons</a></p>