<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
</head>
<body class="container">

<header>
    <%- include("../partials/header") %>
</header>

<main>  
    <div class="jumbotron">
        <h1>Lunar Client Discord Ticket Counter</h1>
        <h2>Why? To see how slow the support team is!</h2>
    </div>
</main>

<footer>
    <%- include("../partials/footer") %>
</footer>

</body>
</html>