<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
   	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body class="container">

<header>
    <%- include("../partials/header") %>
</header>

<main>
    <div class="jumbotron">
        <h1 id="ticket-name"></h1>
        <h2 id="assignedStaff">Assigned Staff Member:</h2>
        <br>
        <h1>User who created Ticket:</h1>
        <h2><img id="userImg" width="64px" height="64px" style="display: inline-block; border-radius: 50%" src="https://media1.tenor.com/images/54cc77830f82ef67471d8d868d09ad2f/tenor.gif?itemid=11230336"><span>&nbsp;&nbsp;</span><span id="user">Loading...</span></h2>
    </div>
</main>

<footer>
    <%- include("../partials/footer") %>
</footer>
<script>
  var bruh=window.location.pathname.split('/')
  bruh.shift()
  bruh = bruh[1]
  $("#ticket-name").text("#"+bruh)
  $.get("/get-ticket-info?ticket="+bruh, a=>{
    if(!a.userCreated) {
      $("#userImg").remove();
      $("#user").text('User who created ticket has gotten kicked/banned from the server!')
    }
    $('#user').text(a.userCreated)
    document.getElementById('userImg').src = a.userImg;
    if (!a.assigned) {
      $('#assignedStaff').text('Staff Assigned: No one!')
    } else {
      $('#assignedStaff').text('Staff Assigned: '+ a.staffAssigned)
    }
  })
</script>
</body>
</html>	