<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
   	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body class="container">

<header>
    <%- include("../partials/header") %>
</header>

<main>
    <div class="jumbotron">
        <h1 id="ticket-name"></h1>
        <h2 id="assignedStaff">Assigned Staff Member:</h2>
        <br>
        <h1>User who created Ticket:</h1>
        <h2><img id="userImg" width="64px" height="64px" style="display: inline-block; border-radius: 50%"><span>&nbsp;&nbsp;</span><span id="user"></span></h2>
    </div>
</main>

<footer>
    <%- include("../partials/footer") %>
</footer>
<script>
  var bruh=window.location.pathname.split('/')
  bruh.shift()
  bruh = bruh[1]
  $("#ticket-name").text("#"+bruh)
  $.get("/get-ticket-info?ticket="+bruh, a=>{
    $('#user').text(a.userCreated)
    document.getElementById('userImg').src = a.userImg;
    if (!a.assigned) {
      $('#assignedStaff').text('Staff Assigned: No one!')
    } else {
      $('#assignedStaff').text('Staff Assigned: '+ a.staffAssigned)
    }
  })
</script>
</body>
</html>	